<h1><%= @stylist.name() %></h1>

<% if @stylist.clients().any?() %>
  <h3>A list of clients for this stylist, click a client name to edit:</h3>

  <ul>
    <% @stylist.clients().each() do |client| %>
      <li><a href="/client_edit/<%= client.id() %>"> <%= client.name() %> </a></li>
      <li><%= client.phone() %> </li>
      <hr>
    <% end %>
  </ul>

  <% else %>
    <p>There are no clients assigned to this stylist!</p>
  <% end %>

  <h3>Add a client to <%= @stylist.name() %> </h3>

  <form action="/stylists" method="post">
    <input id="stylist_id" name="stylist_id" type="hidden" value="<%= @stylist.id() %>">

    <label for="client_name">Client's name:</label>
    <input id="client_name" name="client_name" type="text">

    <label for="client_phone">Client's phone:</label>
    <input id="client_phone" name="client_phone" type="text">

    <button type="submit">Add client</button>
  </form>
  <hr>
  <p><a href="/stylist_edit/<%= @stylist.id() %>">Edit <%= @stylist.name() %></a></p>
  <p><a href="/">Return to Main Page</a></p>
